.project-box{
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 550px !important;
    width: 375px !important;
    position: relative;
}


.project-img{
    margin-top: 10px;
    height: 250px;
    width: 375px;
}

.project-box h2{
    margin-top: 10px;
}

.project-categories{
    display: flex;
    gap: 15px;
}

.category{
    background-color: rgb(190, 188, 188);
    padding: 0.4em;
    border-radius: 40%;
    max-width: 100px;
    text-align: center;
}

#country-div{
    display: flex;
    align-items: center;
    gap: 15px;

}

#country-div h4{
    margin-top: 10px;
}

/*---------------------------------------------------------------------project-list-box----------------------------------------------------------*/


.row{
    display: flex !important;
    gap: 15px !important;
}

.col{
    display: flex !important;
    flex-direction: column !important;
    gap: 25px !important;
}

.project-funding-service-div{
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    justify-content: center;
    background-color: #366775;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 75px;
}

#arrow-icon{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-color: white;
    border-radius: 50%;
    border: solid;
}

#arrow-icon:hover{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    
}

#see-more-link{
    position: absolute;
    right: 5px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-width: 150px;
    min-height: 50px;
}

#see-more-link p{
    color: white;
    margin-top: 5px;
    position: absolute;
    top: 7px;
    left:0;
    font-size: 20px;
}

h5{
    color: white;
    position: absolute;
    left: 10px;
    margin: 0 auto;
}
